<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Valentine Dashboard</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/dashboard/images/favicon.png">
    <!-- Pignose Calender -->
    <link href="/dashboard/plugins/pg-calendar/css/pignose.calendar.min.css" rel="stylesheet">
    <!-- Chartist -->
    <link rel="stylesheet" href="/dashboard/plugins/chartist/css/chartist.min.css">
    <link rel="stylesheet" href="/dashboard/plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css">
    <!-- Custom Stylesheet -->
    <link href="/dashboard/css/style.css" rel="stylesheet">

    <style>

        .userTableRow:hover{
            cursor: pointer;
            background-color:#737c86;
            color: white;
            font-weight: bold;
            border-radius:50; 
        
        }

       


    </style>
</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <div class="brand-logo">
                <a href="index.html">
                    <b class="logo-abbr"><img src="/dashboard/images/logo.png" alt=""> </b>
                    <span class="logo-compact"><img src="/dashboard/images/logo-compact.png" alt=""></span>
                    <span class="brand-title">
                        <img src="/dashboard/images/logo-text.png" alt="">
                    </span>
                </a>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">    
            <div class="header-content clearfix">
                
                <div class="nav-control">
                    <div class="hamburger">
                        <span class="toggle-icon"><i class="icon-menu"></i></span>
                    </div>
                </div>
                <div class="header-left">
                    <div class="input-group icons">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-transparent border-0 pr-2 pr-sm-3" id="basic-addon1"><i class="mdi mdi-magnify"></i></span>
                        </div>
                        <input type="search" class="form-control" placeholder="Search Dashboard" aria-label="Search Dashboard">
                        <div class="drop-down animated flipInX d-md-none">
                            <form action="#">
                                <input type="text" class="form-control" placeholder="Search">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="header-right">
                    <ul class="clearfix">
                        
                        
                        <li class="icons dropdown">
                            <div class="user-img c-pointer position-relative"   data-toggle="dropdown">
                                <span class="activity active"></span>
                                <img src="images/user/1.png" height="40" width="40" alt="">
                            </div>
                            <div class="drop-down dropdown-profile animated fadeIn dropdown-menu">
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li>
                                            <a href="app-profile.html"><i class="icon-user"></i> <span>Profile</span></a>
                                        </li>
                                        
                                        <li><a href="page-login.html"><i class="icon-key"></i> <span>Logout</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="nk-sidebar">           
            <div class="nk-nav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label">Dashboard</li>
                    <li>
                        <a class="has-arrow" href="/dashboard" aria-expanded="false">
                            <i class="icon-speedometer menu-icon"></i><span class="nav-text">Dashboard</span>
                        </a>
                        
                    </li>
                    
                    
                    <li>
                        <a class="has-arrow" href="/dashboard/analytics" aria-expanded="false">
                            <i class="icon-graph menu-icon"></i> <span class="nav-text">Analytics</span>
                        </a>
                        
                    </li>

                    <li>
                        <a class="has-arrow" href="https://docs.google.com/spreadsheets/d/1AHLdQa5Zxng2AIK_lN_bJtnFX6WSB5DyyFHadZXlIAg/" target="blank" aria-expanded="false">
                            <i class="icon-screen-tablet menu-icon"></i><span class="nav-text">Spreadsheet</span>
                        </a>
                    
                    </li>
                    
                </ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <div class="container-fluid mt-3">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="card gradient-1">
                            <div class="card-body">
                                <h3 class="card-title text-white">Registerd Users</h3>
                                <div class="d-inline-block">
                                    <h2 class="text-white"><%=registeredCount%></h2>
                                   
                                </div>
                                <span class="float-right display-5 opacity-5"><i class="fa fa-registered"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card gradient-2">
                            <div class="card-body">
                                <h3 class="card-title text-white">Matched Users</h3>
                                <div class="d-inline-block">
                                    <h2 class="text-white"><%=matchedCount%></h2>
                
                                </div>
                                <span class="float-right display-5 opacity-5"><i class="fa fa-heart"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card gradient-3">
                            <div class="card-body">
                                <h3 class="card-title text-white">Unmatched Users</h3>
                                <div class="d-inline-block">
                                    <h2 class="text-white"><%=unmatchedCount%></h2>
                                   
                                </div>
                                <span class="float-right display-5 opacity-5"><i class="fa fa-users"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card gradient-10">
                            <div class="card-body">
                                <h3 class="card-title text-white">Website Viewers</h3>
                                <div class="d-inline-block">
                                    <h2 class="text-white">99</h2>
                                   
                                </div>
                                <span class="float-right display-5 opacity-5"><i class="fa fa-eye"></i></span>
                            </div>
                        </div>
                    </div>
                </div>

                

            

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="active-member">
                                    <div class="table-responsive">
                                        <table class="table table-xs mb-0">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Email</th>
                                                    <th>Age</th>
                                                    <th>Gender</th>
                                                    <th>Crush</th>
                                                    <th>Matched</th>
                                                    
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% for(var i=0;i<registeredCount; i++){%>
                                                <tr class="userTableRow" data-href="user/<%=users[i].googleID%>">
                                                    <td><img src=<%=users[i].userPhotoLink%> class=" rounded-circle mr-3" alt="">Dasun Nimantha</td>
                                                    <td id="tableDataId"><%=users[i].userEmail%></td>
                                                    <td id="tableDataId">
                                                        <%=users[i].age%>
                                                    </td>
                                                    <td id="tableDataId">
                                                        <%=users[i].gender%>
                                                    </td>
                                                    <td id="tableDataId"><%=users[i].crush%></td>

                                                    <%if (users[i].matched){%>
                                                        <td id="tableDataId"><i class="fa fa-circle-o text-success  mr-2"></i>Yes</td>
                                                    <%} else {%>
                                                        <td id="tableDataId"><i class="fa fa-circle-o text-warning  mr-2"></i>No</td>
                                                    <%}%>
                                                </tr>
                                                <% } %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>

                
                

            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        
        
        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright &copy;ICT Valentine Dashboard</a> 2021</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <script src="/dashboard/plugins/common/common.min.js"></script>
    <script src="/dashboard/js/custom.min.js"></script>
    <script src="/dashboard/js/settings.js"></script>
    <script src="/dashboard/js/gleek.js"></script>
    <script src="/dashboard/js/styleSwitcher.js"></script>

    <!-- Chartjs -->
    <script src="/dashboard/plugins/chart.js/Chart.bundle.min.js"></script>
    <!-- Circle progress -->
    <script src="/dashboard/plugins/circle-progress/circle-progress.min.js"></script>
    <!-- Datamap -->
    <script src="/dashboard/plugins/d3v3/index.js"></script>
    <script src="/dashboard/plugins/topojson/topojson.min.js"></script>
    <script src="/dashboard/plugins/datamaps/datamaps.world.min.js"></script>
    <!-- Morrisjs -->
    <script src="/dashboard/plugins/raphael/raphael.min.js"></script>
    <script src="/dashboard/plugins/morris/morris.min.js"></script>
    <!-- Pignose Calender -->
    <script src="/dashboard/plugins/moment/moment.min.js"></script>
    <script src="/dashboard/plugins/pg-calendar/js/pignose.calendar.min.js"></script>
    <!-- ChartistJS -->
    <script src="/dashboard/plugins/chartist/js/chartist.min.js"></script>
    <script src="/dashboard/plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js"></script>



    <script src="/dashboard/js/dashboard/dashboard-1.js"></script>

    <script>
     $(document).ready(function(){
        $(document.body).on("click","tr[data-href]",function(){
            window.location.href = this.dataset.href;
        });
     });
        
    </script>
</body>

</html>